{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 text-center mx-auto">

        <section class="section" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <div class="container">

            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <h2 class="section-title" style="font-weight: 400; font-size: 18px; letter-spacing: 2pt; ">
                  {{ i18n "projects_title" | safeHTML }}</h2>
              </div>

              <div class="col-12 text-center">
                <h5 style="line-height: 1.9; font-weight: 400">
                  Located in Visalia, Hanford, and Kingsburg-Fowler area, call for free estimates and basic inspection. I take on many different types of projects that pool maintenance and other large maintenance companies won’t consider. My business is fully insured and licensed, check out my <a href="/services/" style="color: rgba(147,38,16,.83)">Services</a> page. <a href="/hire-us/" style="color: rgba(147,38,16,.83)">Send me a note</a> if you want to discuss a project in your home or commercial space.
                </h5>
              </div>
            </div>

          </div>
        </section>
        <div class="container">
          <div class="row">

            {{ range .Site.Params.pictures }}
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 50px">
              <div class="text-center">
                <div>
                  <img src="{{ .name | absURL }}" style="width: 100%; " alt="client">
                </div>
              </div>
            </div>
            {{ end }}
      
          </div>
        </div>


      </div>


    </div>
  </div>
  <style>
    @media (max-width:640px) {
      .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  </style>

</section>




{{ end }}
