{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with .Site.Params.cta }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 text-center mx-auto">

        <section class="section" style="padding-top: 30px !important; padding-bottom: 30px !important;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <h2 class="section-title" style="font-weight: 300; font-size: 36px">
                  {{ i18n "services_title" | safeHTML }}
                  <style>
                    @media (max-width:640px) {
                      .section-title {
                        font-size: 30px !important;
                      }
                    }
                  </style></h2>
              </div>

            </div>
            <div class="row" style="text-align: left; margin-top:30px">
              <div class="col-6" id="firstColumn">
                <hr id="firstLineBreak"/>
                <h3 style="font-weight: 100; margin-top:30px">Maintenance/Repairs:</h3>
                <ul style="list-style-type: disc; text-align: left !important;">
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px; font-size: 18px;"><span>ABOVE-GROUND SPAS</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px; font-size: 18px;"><span>POOL DRAINING, REFILLING</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px; font-size: 18px;"><span>HOT TUBS</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px; font-size: 18px;"><span>FILTER CLEANING</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px; font-size: 18px;"><span>POOL TURN OVERS: FROM GREEN TO EASY BLUE</span></li>

                </ul>
              </div>
              <div class="col-6" id="secondColumn">
                <hr id="secondLineBreak"/>
                <h3 style="font-weight: 100; margin-top:30px" >Basic inspection:</h3>
                <ul style="list-style-type: disc; text-align: left !important;">
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px;font-size: 18px;"><span>WALL BRUSHING</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px;font-size: 18px;"><span>NETTING</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px;font-size: 18px;"><span>VACUUMING</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px;font-size: 18px;"><span>LEAF TRAPS</span></li>
                    <li style="margin-left: 20px; letter-spacing: 2pt; padding-left: 20px;font-size: 18px;"><span>BALANCE WATER CHEMISTRY</span></li>
                  
                </ul>
              </div>
              <style>
                @media (max-width:769px) {
                  li {
                      margin-left: 0px !important;
                      padding-left: 0px !important;
                  }
                  #firstColumn {
                    margin-left: 0px;
                    margin-right: 20px;
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                  }
                  #secondColumn {
                    margin-left: 0px;
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                      padding-top: 20px;
                  }
                  #firstLineBreak {
                    width: 100%;
                  }
                  #secondLineBreak {
                    width: 100%;
                  }
                  li span {
                    position: relative;
                    left: 15px !important;
                  }
                }

                /* for controlling space between, list item BULLET point, and the text inside */
                li span {
                  position: relative;
                  left: -10px;
                }
              </style>
            </div>

          </div>
          <style>
            @media (max-width:640px) {
              .section {
                padding-top: 20px !important;
              }
              .col-11 {
                max-width: 100% !important;
              }
            }
          </style>
        </section>
      </div>


    </div>
  </div>



  
  <style>
    @media (max-width:640px) {
      .section-title {
        margin-bottom: 0px !important;
      }
      .section {
        padding-bottom: 30px !important;
      }
    }
  </style>
</section>


{{ end }}
{{ end }}
