{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with .Site.Params.cta }}
<section class="section" style="padding-bottom: 0px !important">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 text-center mx-auto">

        <section class="section" style="padding-top: 0px !important; padding-bottom: 30px !important;">
          <div class="container">
            <div class="row justify-content-center">

              <div class="col-12 text-center">
                <h5 style="line-height: 1.7; font-weight: 400">
                  Interested in working together? <br /><br />Let's talk!<br /><br />We offer free consultations with no
                  obligation on your part.<br /><br /><br />
                </h5>
                <h5 style="line-height: 1.7; font-weight: 300; font-family:Verdana">
                  EASY BLUE POOL SERVICE<br /></h5>

                <h5 style="line-height: 1.5; font-weight: 400">
                  <br />
                  <a href='mailto:easybluepoolservice@gmail.com' style="color: black">easybluepoolservice@gmail.com</a>
                  <br /><br />(559) 362-6876<br /><br />
                </h5>
                <!-- TODO on a big screen, just regular text. on small screen, make phone number clickable -->
              </div>
              <a href="{{ .link_about | relLangURL }}" data-toggle="modal" data-target="#exampleModal"
                style="margin-top: 10px" class="btn btn-primary">CONTACT ANTONIO</a>

            </div>
          </div>
        </section>
      </div>

      <div class="col-11">
        <section class="section" style="padding-top: 20px !important; ">
          <div class="container">
            <div class="row justify-content-center">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118202.85815550391!2d-119.71491383500455!3d36.33653880291409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8094c3795af198d1%3A0x2e92537f79c7826c!2sHanford%2C%20CA%2093232!5e0!3m2!1sen!2sus!4v1606195191888!5m2!1sen!2sus"
                width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>

<div id="exampleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="padding-left:30px; padding-right: 30px; z-index: 90; position: absolute"
      id="modalContact_form">
      <div class="modal-header">
        <h4 class="modal-title">Contact</h4>
        <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
      </div>
      <div class="modal-body">

        <form action="https://formcarry.com/s/4NEvAAkwDK" id="contact_form" method="POST" accept-charset="UTF-8">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name *</label>
              <input type="text" class="form-control" id="name" name="name" required style="background: #fafafa">
              <div style="font-size: 12px">First Name</div>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname" style="color: transparent;" id="lastnametransparent"> _</label>
              <input type="text" class="form-control" id="lastname" style="background: #fafafa">
              <div style="font-size: 12px">Last Name</div>
            </div>
          </div>
          <div class="form-group" style="padding-top: 10px">
            <label for="email">
              Email Address *</label>
            <input type="email" class="form-control" id="email" name="email" required maxlength="50"
              style="background: #fafafa">
          </div>
          <div class="form-group">
            <label for="name">
              Message *</label>
            <textarea class="form-control" type="textarea" required name="message" id="message" maxlength="6000"
              rows="4" style="background: #fafafa"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" id="btnContactUs">Submit</button>
          <script>
            $("#contact_form").submit(function (e) {
              e.preventDefault();
              var href = $(this).attr("action");

              $.ajax({
                type: "POST",
                dataType: "json",
                url: href,
                data: $(this).serialize(),
                success: function (response) {
                  if (response.status == "success") {
                    $("#btnContactUs").prop("disabled", true);
                    $("#btnContactUs").html(
                      `<span id="spinningSpanner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...`
                    );
                    setTimeout(function () {
                      let heightToCopy = $('#modalContact_form').height();
                      $('#successModal_form').height(heightToCopy);
                      // $('#successModal_image').css("line-height", ((heightToCopy - 30) + "px"));
                      $('#successModal_form').css("z-index", "91");
                    }, 1500);
                    setTimeout(function () {
                      $("#spinningSpanner").remove();
                      $("#btnContactUs").prop("disabled", false);
                      $("#btnContactUs").html('Submit');
                    }, 2500);
                  } else {
                    alert("An error occured: " + response.message);
                  }

                  // if (response.status == "success") {
                  //   // your code
                  // } else {
                  //   alert("An error occured: " + response.message);
                  // }

                }
              });
            });
          </script>
          <style>
            @media (max-width:768px) {
              #lastnametransparent {
                display: none !important;
              }
            }
          </style>
        </form>
      </div>
    </div>

    <div class="modal-content" style="z-index: 89; position: absolute" id="successModal_form">
      <button type="button" class="close" data-dismiss="modal"
        style="align-self: flex-end;padding-right: 30px; padding-top:10px">×</button>

      <div id="successModal_image" style="align-self: center;">
        <img src="{{ .rocket | absURL }}" alt="client" style="transform: scale(.8)">
      </div>
      <div class="col-lg-12 text-center" style="padding-top: 20px" id="successMessage_rocket">
        <h1 class="success-message__title" style="color: #3DC480">Message Received</h1>
        <div class="success-message__content">
          <p>We will respond as soon as possible </p>
        </div>
        <style>
          #successMessage_rocket {
            animation: 100ms ease-out 0s 1 waitRocket, 600ms ease-out 0s 1 slideInFromBottomRocket;
            animation-fill-mode: backwards;
          }

          @keyframes waitRocket {
            from {
              transform: translateY(100px);
            }

            to {
              transform: translateY(100px);
            }
          }

          @keyframes slideInFromBottomRocket {
            from {
              transform: translateY(15px);
              opacity: 0;
            }

            to {
              transform: translateY(0);
              opacity: 1;
            }
          }
        </style>
      </div>
    </div>

  </div>
</div>

{{ end }}
{{ end }}
