<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<body>
  <!-- This is an anchor toggling the off-canvas -->
  <!-- <a href="#offcanvas-push" uk-toggle></a> -->
  <!-- This is the off-canvas -->
  <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true; flip: true">
    <div class="uk-offcanvas-bar" style="padding: 24px 36px 72px">
      <ul class="navbar-nav ml-auto" style="font-size: 13px; text-transform: uppercase; letter-spacing: 2pt; line-height: 1em; font-weight: 500;">
        {{ range site.Menus.main }}
        <li class="nav-item" style="padding-bottom: 5px;">
          {{ if eq "hire us" .Name }}
          <a class="nav-link text-light" id="hireuslinkForNav" href="{{ .URL | absLangURL }}"
            style="margin-top: 5px; border: 2px solid white !important; max-width: max-content !important; display: inline-block !important; padding: 15px 15px 15px 15px">{{ .Name }}
            <style>
              #hireuslinkForNav:hover {
                background-color: white;
                color: black;
              }
            </style>
          </a>
          {{ else }}
          <a class="nav-link text-light" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>

    </div>
    <script>
      // just for, painting, ACTIVE link, greyed out
      document.addEventListener("DOMContentLoaded", function () {
        currentLinks = document.querySelectorAll('a[href="' + document.URL + '"]:not(#hireuslinkForNav):not(#hireuslink)');
        currentLinks.forEach(function (link) {
          link.setAttribute('style', 'color: #9C9999 !important');
        });
      });
    </script>
  </div>
  {{ if .IsHome }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="banner {{if .Site.Params.banner.bg_image_home}}overlay bg-cover{{else}}bg-primary{{end}}"
    data-background="{{ .Site.Params.banner.bg_image_home | absURL }}" style="width: 100%; height: auto;"
    id="home_banner">
    <!-- TODO make sure this is okay "width: 100%; height: auto;" -->
    {{ partial "navigation.html" . }}
    {{ partial "banner.html" . }}
    <script>
      if (screen.height > 1000) {
        $(home_banner).height($(home_banner).height() + 200);
      }
    </script>
  </header>
  {{ "<!-- /header -->" | safeHTML }}

  {{ else if eq .Title "About - Easy Blue" }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="banner {{if .Site.Params.banner_about.bg_image_about}}overlay bg-cover{{else}}bg-primary{{end}}"
    data-background="{{ .Site.Params.banner_about.bg_image_about | absURL }}" id="about_banner">
    {{ partial "navigation.html" . }}
    {{ partial "banner2.html" . }}
    <script>
      if (screen.height > 1000) {
        $(about_banner).height($(about_banner).height() + 200);
      }
    </script>
  </header>
  {{ "<!-- /header -->" | safeHTML }}

  {{ else if eq .Title "Pool Services - Easy Blue" }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="banner {{if .Site.Params.banner_services.bg_image_services}}overlay bg-cover{{else}}bg-primary{{end}}"
    data-background="{{ .Site.Params.banner_services.bg_image_services | absURL }}" id="services_banner">
    {{ partial "navigation.html" . }}
    {{ partial "banner3.html" . }}
    <script>
      if (screen.height > 1000) {
        $(services_banner).height($(services_banner).height() + 200);
      }
    </script>
  </header>
  {{ "<!-- /header -->" | safeHTML }}

  {{ else if eq .Title "Pool Projects - Easy Blue" }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="banner {{if .Site.Params.banner_projects.bg_image_projects}}overlay bg-cover{{else}}bg-primary{{end}}"
    data-background="{{ .Site.Params.banner_projects.bg_image_projects | absURL }}" id="projects_banner">
    {{ partial "navigation.html" . }}
    {{ partial "banner3.html" . }}
    <script>
      if (screen.height > 1000) {
        $(projects_banner).height($(projects_banner).height() + 200);
      }
    </script>
  </header>
  {{ "<!-- /header -->" | safeHTML }}

  {{ else if eq .Title "Hire us - Easy Blue" }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="banner {{if .Site.Params.banner_hireus.bg_image_hireus}}overlay bg-cover{{else}}bg-primary{{end}}"
    data-background="{{ .Site.Params.banner_hireus.bg_image_hireus | absURL }}" id="hireus_banner">
    {{ partial "navigation.html" . }}
    {{ partial "banner4.html" . }}
    <script>
      if (screen.height > 1000) {
        $(hireus_banner).height($(hireus_banner).height() + 300);
      }
    </script>
  </header>
  {{ "<!-- /header -->" | safeHTML }}

  {{ end }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>

</html>