{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with .Site.Params.cta }}
<section class="section" style="padding-bottom: 10px !important">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 text-center mx-auto">

        <section class="section" style="padding-top: 10px !important; padding-bottom: 20px;" id="firstSection_about">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <h2 class="section-title" style="font-weight: 300; font-size: 36px; letter-spacing: 1.9pt !important">{{ i18n "about_title" | safeHTML }}
                  <style>
                    @media (max-width:640px) {
                      .section-title {
                        font-size: 30px !important;
                      }
                    }
                  </style></h2>
              </div>

              <div class="col-12 text-center">
                <h5 style="line-height: 1.7; font-weight: 400; letter-spacing: 0.3pt;">
                  {{ "Our passion is working with people, maintaining pools clean, simply and efficiently. Our mission is to cover all your pool maintenance needs, and to create an environment that serves aesthetic and functional purposes equally well." }}
                </h5>
              </div>

            </div>
          </div>
          <style>
            @media (max-width:640px) {
              #firstSection_about {
                padding-bottom: 0px !important;
              }
            }
          </style>
        </section>
        <hr />
      </div>

      <div class="col-11">
        <section class="section" style="padding-top: 50px; " id="secondSection_about">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h4 id="bigTitle" class="section-title" style="font-weight: 300; letter-spacing: 1.5pt !important;">ANTONIO GARCIA - OWNER</h4>
              </div>
              <div class="col-12">

                <div class="square"> 
                  <div>  
                    <img src="{{ .wedding | absURL }}" alt="client">
                  </div> 
                  <h5 id="smallTitle" style="line-height: 1.7; font-weight: 400; letter-spacing: 1.5pt !important; display: none; padding-bottom: 0px !important">ANTONIO GARCIA - OWNER</h5>
                  <h5 id="ownerInfo" style="line-height: 1.7; font-weight: 400; margin-top: 0px !important; letter-spacing: 0.3pt !important">
                   My name is Antonio Garcia. I own and operate Easy Blue. <br/><br/>I started pool maintenance, and developed my other skills working in Hanford, California. But, I've spent most of my life doing things other than running a pool maintenance business! <br/><br/>A native of Hanford, California, I've lived here all my life. I went to Hanford High School, where I graduated with a 3.0 GPA. On the weekends, I dedicate most of my time to doing local outreach and volunteer work. I also enjoy hiking and fishing. <br/><br/>In 2013, I started working as an apprentice with pool maintenance and repairs, learning how to perform various jobs like filter cleaning, netting, and vacuuming, among others. <br/><br/>I find I am happiest when I am working with my hands and directly with people, helping to maintain their pools Easy Blue clean. 
                    </h5>
              </div> 
              <style> 
                img { 
                    float: right;  
                    margin-left: 35px; 
                    width: 50% !important;
                }
                @media (max-width:769px) {
                  img {
                    float: none !important;
                    margin-left: auto;
                    margin-right: auto;
                    width: 90% !important;
                    margin-bottom: 30px !important;
                    text-align: center;
                    display: block;
                  }
                  #smallTitle {
                    display: block !important;
                  }
                  #bigTitle {
                    display: none !important;
                  }
                  #ownerInfo {
                    margin-top: 0px !important
                  }
                }
            </style> 
              </div>
            </div>
          </div>
          <style>
            @media (max-width:640px) {
              #secondSection_about {
                padding-top: 0px !important;
              }
            }
          </style>
        </section>
      </div>

    </div>
  </div>
  <style>
    @media (max-width:640px) {
      .section-title {
        margin-bottom: 20px !important;
      }
      .section {
        padding-bottom: 30px !important;
      }
      .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  </style>
</section>

{{ end }}
{{ end }}
