{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			<!-- margin-top: 20%; -->
			<h2 id="bannerHeader2" class="text-white mb-3 secondHeader" style="font-weight: 500; letter-spacing: 2.9pt !important">{{ .Site.Params.banner_about.title | markdownify }}
				<style>
					/* gets smaller than 640, shrink font size */
					@media (max-width:640px) {
					  .secondHeader {
						font-size: 18px !important;
					  }
					}
					#bannerHeader2 {
						animation: 100ms ease-out 0s 1 wait2, 600ms ease-out 0s 1 slideInFromBottom2;
						animation-delay: 300ms;
						animation-fill-mode: backwards;
					}
					@keyframes wait2 {
						from { transform: translateY(100px); }
						to { transform: translateY(100px); }
					}
					@keyframes slideInFromBottom2 {
						from { transform: translateY(15px); opacity: 0; }
						to { transform: translateY(0); opacity: 1; }
					}
				</style>
			</h2>
		</div>
	</div>
	<script>
		if (screen.height > 1000) {
			$(".container.section").css("display", "flex");
			$(".container.section").css("justify-content", "center");
			$(".container.section").css("align-items", "center");
			$(".container.section").css("text-align", "center");
			$(".container.section").css("height", "100%");
			$(".container.section").css("padding-top", "0px");
		}
	</script>
</div>
{{ "<!-- /banner -->" | safeHTML }}