{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			
			<h2 id="bannerHeader3" class="text-white mb-3 thirdHeader" style="font-weight: 500;  letter-spacing: 2.9pt !important; line-height: 1.6em">{{ .Site.Params.banner_projects.title | markdownify }}
				<style>
					/* gets smaller than 640, shrink font size */
					/* padding-top: 60px !important; */
					@media (max-width:640px) {
					  .thirdHeader {
						font-size: 18px !important;
						
					  }
					}
					#bannerHeader3 {
						animation: 100ms ease-out 0s 1 wait3, 600ms ease-out 0s 1 slideInFromBottom3;
						animation-delay: 300ms;
						animation-fill-mode: backwards;
					}
					@keyframes wait3 {
						from { transform: translateY(100px); }
						to { transform: translateY(100px); }
					}
					@keyframes slideInFromBottom3 {
						from { transform: translateY(15px); opacity: 0; }
						to { transform: translateY(0); opacity: 1; }
					}
				</style>
			</h2>
		</div>
	</div>
	<script>
		if (screen.height > 1000) {
			$(".container.section").css("display", "flex");
			$(".container.section").css("justify-content", "center");
			$(".container.section").css("align-items", "center");
			$(".container.section").css("text-align", "center");
			$(".container.section").css("height", "100%");
			$(".container.section").css("padding-top", "0px");
		}
	</script>
</div>
{{ "<!-- /banner -->" | safeHTML }}
