{{ "<!-- banner -->" | safeHTML }}
<!-- TODO have to check out if this still plays nicely with extremely large monitors -->
<div class="container section" style="padding-top: 20px !important; ">
	<div class="row">
		<div class="col-lg-12 text-center mx-auto" id="bannerHeader1">
			<h1 class="text-white mb-3 firstHeader" style="font-size: 80px; font-weight: 10 !important;">{{ .Site.Params.banner.title | markdownify }}
					<style>
					@media (max-width:640px) {
					  .firstHeader {
						/* TODO figure out, how to center a div perfectly, vertically */
						font-size: 30px !important;
					  }
					}
					@media (min-width:700px) {
					  .firstHeader {
						/* TODO figure out, how to center a div perfectly, vertically */
						padding-top: 40px;
					  }
					}
				  </style>
			</h1>
			
			<h3 class="text-white mb-4 secondHeader" style="padding-top: 10px; letter-spacing: 2pt !important; ">{{ .Site.Params.banner.subtitle | markdownify }}
				<style>
					@media (max-width:700px) {
					  .secondHeader {
						font-size: 18px !important;
						margin-top: 0px !important;
					  }
					}
				  </style>
			</h3>
			<style>
				#bannerHeader1 {
					animation: 100ms ease-out 0s 1 wait1, 600ms ease-out 0s 1 slideInFromBottom1;
					animation-delay: 300ms;
					animation-fill-mode: backwards;
				}

				@keyframes wait1 {
					from { transform: translateY(100px); }
					to { transform: translateY(100px); }
				}

				@keyframes slideInFromBottom1 {
					from { transform: translateY(15px); opacity: 0; }
					to { transform: translateY(0); opacity: 1; }
				}
			</style>
		</div>
	</div>
	<style>
		@media (max-width:700px) {
		  .section {
			padding-bottom: 40px !important;
		  }
		}
	  </style>
	<script>
		if (screen.height > 1000) {
			$(".container.section").css("display", "flex");
			$(".container.section").css("justify-content", "center");
			$(".container.section").css("align-items", "center");
			$(".container.section").css("text-align", "center");
			$(".container.section").css("height", "100%");
			$(".container.section").css("padding-top", "0px");
		}
	</script>
</div>
{{ "<!-- /banner -->" | safeHTML }}