{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto" id="bannerHeader4">
			<h1 class="text-white mb-3 firstHeaderBanner4" style="font-size: 65px; font-weight: 10 !important; line-height: 1.6em">{{ .Site.Params.banner_hireus.title | markdownify }}
					<style>
					@media (max-width:640px) {
					  .firstHeaderBanner4 {
						/* TODO figure out, how to center a div perfectly, vertically */
						font-size: 28px !important;
						padding-top: 20px !important;
						padding-bottom: 20px !important;
					  }
					}
				  </style>
			</h1>
			
			<style>
				#bannerHeader4 {
					animation: 100ms ease-out 0s 1 wait4, 600ms ease-out 0s 1 slideInFromBottom4;
					animation-delay: 300ms;
					animation-fill-mode: backwards;
				}

				@keyframes wait4 {
					from { transform: translateY(100px); }
					to { transform: translateY(100px); }
				}

				@keyframes slideInFromBottom4 {
					from { transform: translateY(15px); opacity: 0; }
					to { transform: translateY(0); opacity: 1; }
				}
			</style>
		</div>
	</div>
	<script>
		if (screen.height > 1000) {
			$(".container.section").css("display", "flex");
	 		$(".container.section").css("justify-content", "center");
			$(".container.section").css("align-items", "center");
			$(".container.section").css("text-align", "center");
			$(".container.section").css("height", "100%");
			$(".container.section").css("padding-top", "0px");
		}
	</script>
</div>
{{ "<!-- /banner -->" | safeHTML }}
