{{ "<!-- footer -->" | safeHTML }}
<section class="div" style="background-color: #f0f0f0; padding-top: 30px; padding-bottom: 35px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mx-auto">
        <a style="font-size: 27px; font-weight: bold; margin-left: 60px; margin-right: 60px; " href="https://www.facebook.com/easybluepoolservice">
          f</a>
        <a style="font-size: 27px; font-weight: bold; margin-left: 60px; margin-right: 60px; " href="https://www.instagram.com/easyblue_poolservice" class="fa fa-instagram">
          </a>
      </div>
    </div>
  </div>
</section>


<footer style="background-color: #201a16; text-align: center; padding-top: 48px; padding-bottom: 55px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div style="padding-top: 10px; padding-bottom: 40px; " id="disappearOnDesktop">
            <a onClick="scrollToTop(); return false;" style="color: white; font-weight: 700; letter-spacing: 2pt; " href="blank;">BACK TO TOP</a>
            <script>
                const scrollToTop = () => {
                const c = document.documentElement.scrollTop || document.body.scrollTop;
                if (c > 0) {
                  window.requestAnimationFrame(scrollToTop);
                  window.scrollTo(0, c - c / 5);
                }
              };
              // scrollToTop();
            </script>
            <style>
              @media (min-width: 700px) {
                #disappearOnDesktop {
                  display: none !important;
                }
              }
            </style>
          </div>

          <ul style="margin: 0px;padding: 0px;">
            {{ range .Site.Params.menu }}
            <li class="custom_list"
              style="display: inline-block; padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px; font-weight: 700; font-size: 16px; letter-spacing: 2pt; ">
              <a href="{{ .link | relLangURL }}" style="color: white; ">{{ .name }}</a>
              <style>
                @media (max-width:700px) {
                  .custom_list {
                    padding-left: 70px !important;
                    padding-right: 70px !important;
                    padding-top: 10px !important;
                  }
                }
              </style>
            </li>
            {{ end }}
          </ul>
        </div>

        <div class="col text-center mx-auto" style="padding-top: 30px;">
          <p style="font-weight: 200; color: white; line-height: 1.9; font-size: 14px; letter-spacing: .5pt; ">EASY BLUE POOL SERVICE, P.O. BOX 1292, HANFORD, CA, 93232, UNITED <br />STATES
            <a href="tel:+1-559-362-6876" style="color: white; text-decoration: none">(559) 362-6876</a> &emsp;<a href='mailto:easybluepoolservice@gmail.com' id="footerLinkLongEmail"
              style="color: white">EASYBLUEPOOLSERVICE@gmail.com</a>
              <a href='mailto:easybluepoolservice@gmail.com' id="footerLinkShortEmail"
              style="color: white; display: none;">EMAIL</a>
          </p>
              <style>
                @media (max-width:700px) {
                  #footerLinkLongEmail {
                    display: none !important;
                  }
                  #footerLinkShortEmail {
                    display: block !important;
                  }
                }
              </style>
        </div>
        <p style="font-weight: 400; color: white; padding-top: 30px; font-size: 14px">© Copyright 2020 Easy Blue Pool Service</p>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>