<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{ hugo.Generator }}
  
  {{ "<!-- ** CSS Plugins Needed for the Project ** -->" | safeHTML }}
  
  {{ "<!-- Bootstrap -->" | safeHTML }}
  <link rel="stylesheet" href="{{ `plugins/bootstrap/bootstrap.min.css` | absURL }}">

  {{ "<!-- themefy-icon -->" | safeHTML }}
  <link rel="stylesheet" href="{{ `plugins/themify-icons/themify-icons.css` | absURL }}">

  {{ "<!--Favicon-->" | safeHTML }}
  <!-- TODO still have to add, favicon.ico to root of project ... -->
  <link rel="icon" href="{{ `images/favicon2.png` | absURL }}" type="image/x-icon">

  {{ "<!-- fonts -->" | safeHTML }}
  <!-- <link href="https://fonts.googleapis.com/css?family={{replace .Site.Params.font_family ' ' '+' | title}}:300,400,700&display=swap" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/js/uikit-icons.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
  :root{
    --primary-color:{{ .Site.Params.primary_color }};
    --body-color:{{ .Site.Params.body_color }};
    --text-color:{{ .Site.Params.text_color }};
    --text-color-dark:{{ .Site.Params.text_color_dark }};
    --white-color:{{ .Site.Params.white_color }};
    --light-color:{{ .Site.Params.light_color }};
    --font-family: 'Open Sans', sans-serif;
  }
  </style>

{{ "<!-- Main Stylesheet -->" | safeHTML }}
{{ $css := resources.Get "css/style.css" | minify }}
<link href="{{ $css.Permalink }}" rel="stylesheet" media="screen"/>
  
{{ "<!-- ** JS Plugins Needed for the Project ** -->" | safeHTML }}

{{ "<!-- jquiry -->" | safeHTML }}
<script src="{{ `plugins/jquery/jquery-1.12.4.js` | absURL }}"></script>

{{ "<!-- jquary ui -->" | safeHTML }}
<script src="{{ `plugins/jquery/jquery-ui.js`| absURL }}"></script>

{{ "<!-- Bootstrap JS -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>

{{ "<!-- match-height JS -->" | safeHTML }}
<script src="{{ `plugins/match-height/jquery.matchHeight-min.js` | absURL }}"></script>

{{ template "_internal/google_analytics.html" . }}
  
{{ if templates.Exists ( printf "partials/overrides/header.html" ) }}
  {{ partial "partials/overrides/header.html" . }}
{{ else }}
  {{ "<!-- create /layouts/partials/overrides/header.html in your own theme or root directory to add your custom content here -->" | safeHTML }}
{{ end }}

</head>
