<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid" id="navbar1">
    <a class="navbar-brand px-2" href="{{ site.BaseURL | relLangURL }}"
      style="font-size: 22px; font-weight: 00; letter-spacing: 3pt !important;">
      {{ $logo:= site.Params.logo }}
      {{ $logoWhite:= site.Params.logo_white }}
      {{ if (or $logo $logoWhite) }}
      {{ if .IsHome }}
      <img class="img-fluid" src="{{if $logoWhite }}{{ $logoWhite | absURL }} {{ else }} {{ $logo | absURL }}{{ end }}"
        alt="{{ site.Title }}">
      {{ else }}
      <img class="img-fluid" src="{{ $logo | absURL }}" alt="{{ site.Title }}">
      {{ end }}
      {{ else }}
      {{ site.Title | upper }}
      {{ end }}
      <style>
        @media (max-width:640px) {
          .navbar-brand {
            font-size: 16px !important;
            padding-left: 20px !important;
          }
        }
      </style>
    </a>
    <!-- <button class="navbar-toggler border-0 custom-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->



    <!-- This is a button toggling the off-canvas -->
    <div id="nav-icon4" uk-toggle="target: #offcanvas-push" >
      <span></span>
      <span></span>
      <span></span>
    </div>


    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        {{ range site.Menus.main }}
        {{ if .HasChildren }}
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li> -->
        {{ else }}

        <!--  menu item  -->
        <li class="nav-item">
          {{ if eq "hire us" .Name }}
          <a class="nav-link text-dark" id="hireuslink" href="{{ .URL | absLangURL }}">{{ .Name }}
            <style>
              #hireuslink {
                border: 2px solid white !important;
                margin-left: 10px !important;
                display: inline-block !important;
              }

              /*
              TODO possibly add back the padding to this 'Hire Us' button
                padding-left: 25px !important;
                padding-right: 25px !important;
              */
              @media (max-width:640px) {
                #hireuslink {
                  max-width: max-content !important;
                }
              }

              #hireuslink:hover {
                background-color: white;
                color: black;
              }
            </style>
          </a>
          {{ else }}
          <a class="nav-link text-dark" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <!-- 
        double bracket- if site.IsMultiLingual double bracket
      -->
      {{- if eq "" "--" }}
      <select class="lang-list {{ if not .IsHome }}dark{{ end }}" id="select-language"
        style="margin-left: 20px !important" onchange="location = this.value;">
        {{ $siteLanguages := site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
        </option>
        {{ else }}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
      {{ end }}
    </div>
    <style>
      #navbar1{
          -webkit-animation: 1300ms ease 0s normal forwards 1 fadein;
          animation: 1300ms ease 0s normal forwards 1 fadein;
      }
      /* animation-delay: 600ms; */
      @keyframes fadein{
          0% { opacity:0; }
          66% { opacity:0; }
          100% { opacity:1; }
      }

      @-webkit-keyframes fadein{
          0% { opacity:0; }
          66% { opacity:0; }
          100% { opacity:1; }
      }


      @media (min-width:768px) {
        #navbar1 {
          padding-top: 20px !important;
        }
        #offcanvas-push {
          display: none !important;
        }
        #nav-icon4 {
          display: none !important;
        }
      }
      
      

      * {
        margin: 0;
        padding: 0; 
      }

      /* Icon 1 */

      #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
        width: 60px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      #nav-icon1 span:nth-child(1) {
        top: 0px;
      }

      #nav-icon1 span:nth-child(2) {
        top: 18px;
      }

      #nav-icon1 span:nth-child(3) {
        top: 36px;
      }

      #nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      #nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      /* Icon 2 */

      #nav-icon2 {
      }

      #nav-icon2 span {
        display: block;
        position: absolute;
        height: 9px;
        width: 50%;
        background: #d3531a;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      #nav-icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      #nav-icon2 span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }

      #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
        top: 0px;
      }

      #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
        top: 18px;
      }

      #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
        top: 36px;
      }

      #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon2.open span:nth-child(1) {
        left: 5px;
        top: 7px;
      }

      #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }

      #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: 29px;
      }

      #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px;
      }

      /* Icon 3 */

      #nav-icon3 span:nth-child(1) {
        top: 0px;
      }

      #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 18px;
      }

      #nav-icon3 span:nth-child(4) {
        top: 36px;
      }

      #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      /* Icon 4 */

      #nav-icon4 {
        -webkit-transform:scale(0.4);
        -moz-transform:scale(0.4);
        -ms-transform:scale(0.4);
        transform:scale(0.4);
      }

      #nav-icon4 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      #nav-icon4 span:nth-child(2) {
        top: 18px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      #nav-icon4 span:nth-child(3) {
        top: 36px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      #nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      #nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
      }

    </style>
    <script>
      $(document).ready(function(){
        $('#nav-icon4').click(function(){
          $(this).toggleClass('open');
        });
        $('#offcanvas-push').on( "hide", function() {

          // TODO oh no ...
          $('#nav-icon4').toggleClass('open');
        });



        // TODO also, please close the sidenav. everytime page is loaded.
        $('#offcanvas-push').hide();
      });
    </script>
  </div>

</nav>