{{ define "main" }}

{{ "<!-- topics -->" | safeHTML }}
<section class="section" style="padding-bottom: 0 !important;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title" style="font-weight: 300">{{ i18n "topics_title" | safeHTML }}
          <style>
            @media (max-width:640px) {
              .section-title {
                font-size: 30px !important;
              }
            }
          </style></h2>
      </div>

      <div class="col-12 text-center">
        <h5 style="line-height: 1.9; font-weight: 400">
          Located in Visalia, Hanford, and Kingsburg-Fowler area, call for free estimates and basic inspection. I take on many different types of projects that pool maintenance and other large maintenance companies won’t consider. My business is fully insured and licensed, check out my <a href="services/" style="color: rgba(147,38,16,.83)">Services</a> page. <a href="hire-us/" style="color: rgba(147,38,16,.83)">Send me a note</a> if you want to discuss a project in your home or commercial space.
        </h5>
      </div>

    </div>
  </div>
</section>
{{ "<!-- /topics -->" | safeHTML }}


{{ with .Site.Params.cta }}
<section class="section" id="photoSection_home">
  <div class="container">
    <div class="row justify-content-center" id="gallery-preview">
      <div class="col text-center" style="padding-bottom: 40px;">
        <div class="card" style="background:transparent; border:transparent">
          <div class="box">
            <img src="{{ .pool | absURL }}" style="width: 100%; " alt="client">
          </div>
          <p style="margin-top:30px; margin-bottom: 30px; font-size:24px">Licensed Pool Maintenance</p>
        </div>
        <a href="{{ .link_about | relLangURL }}" class="btn btn-primary">MEET OUR TEAM</a>
      </div>
      <div class="col text-center" style="padding-bottom: 40px;">
        <div class="card" style="background:transparent; border:transparent">
          <div class="box">
            <img src="{{ .poolheater | absURL }}" style="width: 100%; " alt="client">
          </div>
          <p style="margin-top:30px; margin-bottom: 30px; font-size:24px">Experienced Service</p>
        </div>
        <a href="{{ .link_projects | relLangURL }}" class="btn btn-primary">SEE OUR WORK</a>
      </div>
      <div class="col text-center" style="padding-bottom: 40px;">
        <div class="card" style="background:transparent; border:transparent">
          <div class="box">
            <img src="{{ .pools | absURL }}" style="width: 100%; " alt="client">
          </div>
          <p style="margin-top:30px; margin-bottom: 30px; font-size:24px">Custom Pool Work</p>
        </div>
        <a href="{{ .link_services | relLangURL }}" class="btn btn-primary">SEE OUR SERVICES</a>
      </div>
      <style>
        @media (max-width:740px) {
          #gallery-preview {
            padding-left: 49px !important;
            padding-right: 49px !important;
          }
        }
        @media (min-width:1000px) {
          #gallery-preview {
            padding-left: 50px !important;
            padding-right: 50px !important;
          }
        }
      </style>
    </div>
  </div>
  <style>
    @media (max-width: 640px) {
      #photoSection_home {
        padding-bottom: 0px !important;
      }
    }
  </style>
</section>
{{ end }}






{{ end }}
